*{
	border:0;
	margin:0;
	padding:0;
	position:relative;
}
.content{
	width:990px;
	margin:0 auto;
	position:relative;
}
#bg{
	margin:0 auto;
	width:100%;
	height:3850px;
	background:url(../Home%20SS/_images/bg.jpg) top center no-repeat

}
#nav{
	width:100%;
	height:60px;
	background:url(../Home%20SS/_images/nav.jpg) center center no-repeat;
	position:absolute;
	top:363px;
	z-index:3;
}
#nav .goTo{
	height:80px;
	float:left;
	cursor:pointer;
}
#nav .goTo.ot{
	width:280px;
}
#nav .goTo.gt{
	width:210px;
}
#nav .goTo.ce{
	width:240px;
}
#nav .goTo.btn{
	width:260px;
}
#nav.active{
	position:fixed;
	top:0;
}
.btt{
	position:absolute;
	left:50%;
	margin-left:410px;
	width:50px;
	height:35px;
	text-align:left;
	text-indent:-5999px;
	cursor:pointer;
}
.btt.ot{
	top:443px;
}
.btt.gt{
	top:1244px;
}
.btt.ce{
	top:2043px;
}
.btt.btn{
	top:2842px;
}
.hs{
	width:40px;
	height:40px;
	overflow:hidden;
	position:absolute;
	left:50%;
	z-index:1;
}
.hs.active{
	overflow:visible
}
.hs .plus{
	display:block;
	width:40px;
	height:40px;
	background:url(../Home%20SS/_images/plus.png);
	transition:all 0.2s ease-out;
	cursor:pointer;
}
.hs.active .plus{
	transform:rotate(45deg);
}
.hs img{
	opacity:0;
	transition:opacity 0.2s ease-out;
	position:absolute;
	left:60px;
	top:-100px
}
.hs.active img{
	opacity:1;
}
.hs-01{
	top:870px;
	margin-left:-455px;
}
.hs-02{
	top:822px;
	margin-left:-97px;
}
.hs-03{
	top:876px;
	margin-left:380px;
}
.hs-03 img{
	left:auto;
	right:50px;
}
.explore-button{
	position:absolute;
	left:50%;
	margin-left:240px;
	width:230px;
	height:70px;
	text-align:left;
	text-indent:-5999px;
	cursor:pointer;
}
.explore-content{
	position:absolute;
	left:50%;
	margin-left:-71px;
	display:none;
	cursor:pointer;
	z-index:2;
}
.explore-button.ot,.explore-content.ot{
	top:494px
}
.explore-button.gt,.explore-content.gt{
	top:1294px;
}
.explore-button.ce,.explore-content.ce{
	top:2093px;
}
.explore-button.btn,.explore-content.btn{
	top:2892px;
}
.bar{
	width:0px;
	height:4px;
	background:#fff;
	position:absolute;
	right:0;
	transition:all 1s ease-out;
}
.bar.ot{
	top:578px;
}
.bar.gt{
	top:1377px;
}
.bar.ce{
	top:2177px;
}
.bar.btn{
	top:2976px;
}